WITH CFL AS
(
SELECT 	CFL.STUDENT_ID
		,BLD.SCHOOL_CODE
		,CFL.SCHOOL_YEAR
		,CFL.TERM
		,"SAFETY" =
		CASE
			WHEN safety_scale_rating = 2 THEN 1
			WHEN safety_scale_rating = 3 THEN 1
			ELSE	NULL
		END
		,"CHALLENGE" =
		CASE
			WHEN CHALLENGE_SCALE_RATING = 2 THEN 1
			WHEN CHALLENGE_SCALE_RATING = 3 THEN 1
			ELSE	NULL
		END
		,"SUPPORT" =
		CASE
			WHEN SUPPORT_SCALE_RATING = 2 THEN 1
			WHEN SUPPORT_SCALE_RATING = 3 THEN 1
			ELSE	NULL
		END
		,"SEL" =
		CASE
			WHEN SEL_SCALE_RATING = 2 THEN 1
			WHEN SEL_SCALE_RATING = 3 THEN 1
			ELSE	NULL
		END
		,SAFETY_SCALE_RATING
		,CHALLENGE_SCALE_RATING
		,SUPPORT_SCALE_RATING
		,SEL_SCALE_RATING
FROM SPPF..CFL_SURVEY		AS	CFL
LEFT JOIN SPPF..BUILDING	AS	BLD
ON	CFL.BUILDING_ID = BLD.BUILDING_ID 
WHERE SCHOOL_CODE IS NOT NULL
)

SELECT	SCHOOL_CODE
		,SCHOOL_YEAR
		,TERM
		,"SAFETY_PERCENT" =
		CASE
			WHEN COUNT(SAFETY_SCALE_RATING) > 10 THEN SUM(cast(SAFETY as float))/count(SAFETY_SCALE_RATING) * 100
			ELSE NULL
		END
		,"CHALLENGE_PERCENT" =
		CASE
			WHEN COUNT(CHALLENGE_SCALE_RATING) > 10 THEN SUM(cast(CHALLENGE as float))/count(CHALLENGE_SCALE_RATING) * 100
			ELSE NULL
		END
		,"SUPPORT_PERCENT" =
		CASE
			WHEN COUNT(SUPPORT_SCALE_RATING) > 10 THEN SUM(cast(SUPPORT as float))/count(SUPPORT_SCALE_RATING) * 100
			ELSE NULL
		END
		,"SEL_PERCENT" =
		CASE
			WHEN COUNT(SEL_SCALE_RATING) > 10 THEN SUM(cast(SEL as float))/count(SEL_SCALE_RATING) * 100
			ELSE NULL
		END
/*
	   Name:		cfl_school_V
	   Author:	Damico, Nicholas J
	   Purpose:	View the CFL results at a school level across multiple years and terms
	   Change Log:
	   Date		    Who				   What
	   *************   **********************  ****************
	   21-Dec-2015	    Damico, Nicholas J	   Initial creation
	   14-Jan-2016		Damico, Nicholas J	   QA changes			
*/
FROM CFL
GROUP BY SCHOOL_CODE, SCHOOL_YEAR, TERM
ORDER BY SCHOOL_CODE, SCHOOL_YEAR, TERM
